@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/places/places.css');
@import url('../blocks/card/card.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_is-animated/popup_is-animated.css');
@import url('../blocks/popup/_is-opened/popup_is-opened.css');
.popup__content_type_info {
  max-width: 430px;
}

.popup__info-list {
  display: grid;
  gap: 8px;
  margin: 0 0 24px;
  padding: 0;
}

.popup__info-item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.popup__info-term {
  font-weight: 400;
}

.popup__info-definition {
  margin: 0;
  font-weight: 700;
  text-align: right;
}

.popup__users-list {
  display: grid;
  gap: 12px;
  max-height: 300px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.popup__user-preview {
  display: flex;
  align-items: center;
  gap: 12px;
}

.popup__user-preview-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.popup__user-preview-info {
  min-width: 0;
}

.popup__user-preview-name {
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.popup__user-preview-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}

.popup__button_disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

.profile__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/*Импортируем на уровень выше*/
